@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.resimSlider {
  height: 600px;
}
body {
  font-family: "Raleway", sans-serif;
}
.hakkimizda {
  background-color: #f2f2f2;
}
.ayrac {
  border: none;
  border-top: 3px solid #343a40 !important;
  max-width: 250px;
  margin: 25px auto;
}
.igri {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid #f2f2f2;
  background-color: #f2f2f2;
}
.ibeyaz {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid white;
  background-color: white;
}
.ekipCard img:hover {
  opacity: 0.8;
}
.galeri {
  background-color: #f2f2f2;
}
.figure:hover {
  opacity: 0.8;
}
.form-group{
    margin-bottom: 15px;
}   
.iletisim .row {
  flex-wrap: nowrap ;
} 
